body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  display: block;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  justify-self: center;
  background-color: #00a323;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #5bdb77;
}

h3 {
  text-align: center;
  display: block;
  padding-top: 80px;
  color: #222;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin: 0;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: rgb(255, 243, 243);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  padding-right: 20px;
}

.center-header {
  flex-grow: 1;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation {
  text-align: center;
  padding: 1em;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .meme-card {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}